<div id="body-index">
    </br><span>Best <i>business partner</i> you could ever have!</span>
    <label>Resma will help you manager your,</label>
</div>

<div id="tray-bunch">
    <ul>
        <li>
            <div id="op-tray-wrap" class="tray-wrap">
                <div id="op-cover" class="lid">
                    <img src="/images/icons/operations.svg" alt="">
                </div>
                <p id="intro">With Resma, managing all your restaurent operations is too easy!</br>
                    <a href="#" class="inline-link">-Learn more-</a>
                </p>
                <div class="tray">
                    <img src="/images/icons/tray.svg" alt="">
                </div>

            </div>
        </li>

        <li>
            <div id="stf-tray-wrap" class="tray-wrap">
                <div id="stf-cover" class="lid">
                    <img src="/images/icons/staff.svg" alt="">
                </div>
                <p id="intro">Let your staff have fun while working with Resma!</br>
                    <a href="#" class="inline-link">-Learn more-</a>
                </p>
                <div class="tray">
                    <img src="/images/icons/tray.svg" alt="">
                </div>
            </div>
        </li>

        <li>
            <div id="cus-tray-wrap" class="tray-wrap">
                <div id="cus-cover" class="lid">
                    <img src="/images/icons/customers.svg" alt="">
                </div>
                <p id="intro">Get to know your customer to offer the best for them!</br>
                    <a href="#" class="inline-link">-Learn more-</a>
                </p>
                <div class="tray">
                    <img src="/images/icons/tray.svg" alt="">
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="bottom-banner">
    <a href="/users/signin" id="get-started"><button class="vimp-btn">Get Started!</button></a>
</div>
