<div id="auth-heading">
    <h2>Log in here!</h2>
    <img src="/images/icons/user.svg" alt="user" id="login-icon-user">
</div>

<div class="panel-userauth">
    <form id="form-login" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login" class="user-submit">
    </form>
    <span style="color: red;">{{error}}</span>
</div>
</br><p class="text-center">New to Resma? Go ahead and <a href="/users/signin" class="inline-link">Get Started!</a></p>
